! monokai colours
URxvt.background: #272822
URxvt.foreground: #f8f8f2
URxvt.color0: #272822
URxvt.color1: #f92672
URxvt.color2: #a6e22e
URxvt.color3: #f4bf75
URxvt.color4: #66d9ef
URxvt.color5: #ae81ff
URxvt.color6: #a1efe4
URxvt.color7: #f8f8f2
URxvt.color8: #75715e
URxvt.color9: #f92672
URxvt.color10: #a6e22e
URxvt.color11: #f4bf75
URxvt.color12: #66d9ef
URxvt.color13: #ae81ff
URxvt.color14: #a1efe4
URxvt.color15: #f9f8f5

! powerline font
URxvt.font: xft:DejaVu\ Sans\ Mono\ for\ Powerline:size=10:antialias=true:hinting=true

! font config
xft.autohint: 0
xft.lcdfilter: lcddefault
xft.hintstyle: hintslight
xft.hinting: 1
xft.antialias: 1
xft.rgba: rgb

! remove scroll bar
URxvt.scrollBar: false

! remove internal border
URxvt.internalBorder: 0

! perl extensions: clickable urls
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
